.highlight {
	.err {
		color: #a61717;
		background-color: #e3d2d2;
	}

	.bp,
	.cp,
	.cs,
	.gh {
		color: #999;
	}

	.c,
	.cd,
	.ch,
	.cm,
	.cpf,
	.c1 {
		color: #b8b8b8;
	}

	.gd {
		color: #000;
		background-color: #fdd;
	}

	.ge,
	.k,
	.kc,
	.kd,
	.kn,
	.kp,
	.kr,
	.kv,
	.nf,
	.ow {
		color: #4bcd84;
	}

	.gi {
		color: #000;
		background-color: #dfd;
	}

	.go {
		color: #888;
	}

	.gp,
	.nn {
		color: #555;
	}

	.gr,
	.gt {
		color: #a00;
	}

	.gu {
		color: #aaa;
	}

	.kt,
	.nc,
	.nt {
		color: #79f;
	}

	.mf,
	.mh,
	.il,
	.m,
	.mb,
	.mi,
	.mo,
	.mx {
		color: #46ffff;
	}

	.dl,
	.s,
	.sa,
	.sb,
	.sc,
	.sd,
	.se,
	.sh,
	.si,
	.sx,
	.s1,
	.s2 {
		color: #b58cf2;
	}

	.sr {
		color: #00de37;
	}

	.ss {
		color: #990073;
	}

	.no,
	.vc,
	.vg,
	.vi,
	.vm {
		color: #008080;
	}

	.nb {
		color: #3bceff;
	}

	.nd {
		color: #82f5f5;
	}

	.ni {
		color: #800080;
	}

	.fm,
	.na,
	.ne,
	.nl {
		color: #1af71d;
	}

	.nv {
		color: #ff47c8;
	}

	.nx {
		color: #ffb4b4;
	}

	.w {
		color: #bbb;
	}
}
