/*
	main.scss
	General page styling
	Written by Eli Howey
	Copyright 2019
*/

@import '../shared';

.blog-post {
	$post-title-font-size: 1.5rem;
	$post-spacing: 1em;

	position: relative;
	padding: $post-spacing;
	margin: 0 (-1 * $post-spacing);
	transition: background-color 150ms ease;

	&:hover {
		background-color: hsla(0, 0%, 85%, 0.1);
	}

	h3 {
		font-size: $post-title-font-size;
	}

	p {
		margin-top: 0.5em;
	}
}
