/*
	blog-post.scss
	Blog post styling
	Written by Eli Howey
	Copyright 2019
*/

@import '../shared';

main {
	max-width: $max-page-width;
	padding-bottom: $grid-gap;
}

article {
	max-width: 65ch; // For readability
	margin: auto;

	// Article endmark
	&::after {
		box-sizing: content-box;
		display: block;
		height: 1rem;
		width: 1rem;
		margin: 2rem auto;
		content: '';
		border: 1px solid $black;
		background-color: $white;
		box-shadow: 4px 4px var(--accent-secondary), 5px 5px $black,
			8px 8px var(--accent-primary), 9px 9px $black;
	}
}

/* Progress Bar */
@mixin progress-bar-colors {
	background-color: var(--accent-primary);
	box-shadow: 0 1px 2px adjust-color($color: $gray--light, $alpha: -0.5);
}

progress {
	appearance: none;
	border: unset;
	background-color: transparent;
	color: var(--on-background);

	&::-webkit-progress-bar {
		background-color: transparent;
	}

	&::-webkit-progress-value {
		@include progress-bar-colors();
	}

	&::-moz-progress-bar {
		@include progress-bar-colors();
	}

	&[is='blog-post-progress-bar'] {
		position: fixed;
		top: 0;
		left: 0;
		height: 5px;
		width: 100vw;
	}
}

blog-post-length:not(:empty)::before {
	content: '•';
	padding: 0 1ch;
}

/**
 * Heading Permalinks
 * 1. Relatively position headings that will have permalinks
 * 2. Use a pseudo-element to create a hover target
 * 3. Position the permalink icon within the hover target
 */

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
	position: relative; /* 1 */

	/* 2 */
	&::before {
		content: '';
		position: absolute;
		left: -1em;
		height: 100%;
		width: 1em;
	}
}

.heading-permalink {
	/* 3 */
	position: absolute;
	left: -1.25em;
	background: none;

	svg {
		display: inline-block;
		height: 0.75em;
		width: 0.75em;
		vertical-align: baseline;
		stroke: currentColor;
		fill: currentColor;
	}

	@media (hover: hover) {
		opacity: 0;
		transition: opacity 100ms linear;

		:hover > &,
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}

/* Tags */

.tags {
	display: flex;
	align-items: baseline;

	> :first-child {
		margin-right: 1ch;
	}
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.tag {
	margin: 0 0.25em 0.25em 0;
	font-family: sans-serif;
	font-size: var(--size-down-2);
	line-height: 1;
	padding: 0.1em 0.25em;
	border: 1px solid var(--on-background);
	border-radius: 0.25em;
}
