@import '../shared';

body {
	grid-template-columns: 1fr;
	grid-gap: 0;
}

main {
	padding: 0;
}

.headline {
	min-height: 30vh;
	font-size: 3rem;
	text-align: center;
}

ul.blog-posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: 1em;
}
