@import '../shared';

body {
	grid-template-columns: 1fr;
	grid-gap: 0;
}

main {
	padding: 0;

	&.spacing-container > * + * {
		margin-top: 3rem;
	}
}

.headline {
	display: flex;
	flex-direction: column;
	font-size: 2rem;

	@media (min-width: 768px) {
		justify-content: center;
		text-align: center;
		font-size: 3rem;
	}
}

ul.blog-posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: 1em;
}
