/*
	Main styles for elihowey.com
	Written by Eli Howey
	Copyright 2020
*/

// ============================================================================
// Imports
// ============================================================================
@import '../breakpoints';
@import '../colors';
@import '../font-faces';

@import '../reset';
@import '../utilities';

// ============================================================================
// Variables
// ============================================================================

$page-padding--mobile: 1rem;
$main-content-max-width: 50ch;

$transition-short: 100ms;
$transition-long: 250ms;

// ============================================================================
// Typography
// ============================================================================

html {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	letter-spacing: -0.01em;

	@media screen and (min-width: $breakpoint-sm) {
		font-size: 18px;
	}

	@media screen and (min-width: $breakpoint-md) {
		font-size: 24px;
	}
}

h1 {
	font-size: 2rem;
	line-height: 1;
	letter-spacing: -0.02em;

	@media screen and (min-width: $breakpoint-sm) {
		font-size: calc(16rem / 3);
	}
}

h2,
.headline {
	font-size: 1.5rem;

	@media screen and (min-width: $breakpoint-sm) {
		font-size: calc(8rem / 3);
	}
}

h3,
.lede {
	font-size: 1.25rem;

	@media screen and (min-width: $breakpoint-sm) {
		font-size: 1.5rem;
	}
}

h1,
h2,
.headline {
	letter-spacing: -0.025em;
}

.headline,
.lede {
	font-weight: normal;
}

figcaption,
.label {
	font-size: 0.8rem;
}

// ============================================================================
// Theme
// ============================================================================

body {
	color: $theme--dark;
	background-color: $theme--light;
}

a {
	color: inherit;
	transition: background-color $transition-short ease,
		box-shadow $transition-short ease;

	&:hover,
	&:focus {
		background-color: $theme--accent;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px $theme--light, 0 0 0 6px $theme--focus;
	}
}

.title-link {
	&:hover,
	&:focus {
		background-color: initial;
	}
}

::selection {
	color: $theme--light;
	background-color: $theme--focus;
}

.callout {
	color: $theme--focus;
	@include dot-matrix;
}

// ============================================================================
// Page Contents
// ============================================================================

#skip-to-content-link:focus {
	position: fixed;
	height: auto;
	width: max-content;
	clip: unset;
	transform: translate(calc(50vw - 50%), 5px);
}

.page-content {
	min-height: 100vh;
}

.page-header {
	margin-bottom: 2rem;

	// Only underline the header link to the current page
	a:not([aria-current='page']) {
		text-decoration: none;
	}

	&__title {
		grid-area: title;
		position: relative;
		text-decoration: none;

		// Accent stripe
		&::after {
			content: '';
			display: block;
			block-size: 0.11em;
			inline-size: calc(100% + (100vw - 100%) / 2);

			// Align stripe with the middle bar of capital letters
			position: absolute;
			inset-inline-start: 0;
			margin-block-start: -0.555em;

			background-color: $theme--accent;
			z-index: -1; // To sit behind the header text
		}
	}

	&__nav {
		grid-area: nav;

		ul {
			list-style-type: none;
			border-top: 1px solid;
			padding-top: 0.5em;
		}

		li + li {
			margin-left: 1rem;
		}
	}
}

.page-main {
	grid-area: content;
	padding-bottom: 5em;
}

.page-decoration {
	grid-area: decoration;
	@include dot-matrix;
}

.page-footer {
	grid-area: footer;
	padding: 1em;
	color: $theme--light;
	background-color: $theme--dark;
}

.social-links {
	display: flex;
	flex-wrap: wrap;

	&__icon-link {
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		margin-right: 1rem;

		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;

		@include dot-matrix;

		&:hover,
		&:focus {
			background: none;
			background-color: $theme--accent;
			color: $theme--dark;
		}

		svg {
			height: calc(100% * var(--scale-value, 1));
			width: calc(100% * var(--scale-value, 1));
		}
	}
}

.link-button {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background-color: $theme--accent;
}

.callout-figure {
	position: relative;

	&__caption {
		position: absolute;
		bottom: -0.5rem;
		left: 0.5rem;
		right: 0.5rem;

		text-align: center;

		background-color: $theme--accent;
		color: $theme--dark;
	}
}

// ============================================================================
// Media-Specific Variations
// ============================================================================

// Small viewports only:
// 1. Add padding to the page, and counteract it in the footer
// 2. Use flexbox to push the footer to the bottom of the page
@media screen and (max-width: $breakpoint-sm) {
	.page-content {
		display: flex; // 2
		flex-direction: column; // 2
		padding: $page-padding--mobile; // 1
	}

	.page-footer {
		margin: -1 * $page-padding--mobile; // 1
		margin-top: auto; // 2
	}
}

// Medium+ viewports only:
@media screen and (min-width: $breakpoint-sm) {
	// NOTE: These variables should be in absolute units!
	$grid-column-gap: 5vw;
	$decoration-overlap: 2vw;

	// Switch to a grid to position content more artistically
	.page-content {
		padding: unset;

		display: grid;
		grid-gap: 1rem $grid-column-gap;
		grid-template-rows:
			[nav-start] auto
			[nav-end title-start] auto
			[title-end content-start decoration-start] 1fr
			[content-end footer-start] auto
			[footer-end decoration-end];
		grid-template-columns:
			[nav-start footer-start] 1fr
			[title-start content-start] minmax(
				min-content,
				$main-content-max-width
			)
			[title-end content-end decoration-start] $decoration-overlap
			[nav-end] 1fr
			[decoration-end footer-end];
	}

	// 1. Position the header's contents on the grid, so they can be reordered
	// 2. Extend the title's accent stripe to the right-hand side of the page
	// 3. Right-align the navigation
	// 4. Give navigation links some breathing room
	.page-header {
		display: contents; // 1

		// 2
		&__title::after {
			$grid-offset: $decoration-overlap + $grid-column-gap;
			inline-size: calc(100% + (100vw - 100% + #{$grid-offset}) / 2);
		}

		// 3
		&__nav ul {
			display: flex;
			justify-content: flex-end;
		}

		&__nav a {
			padding: 0.25em; // 4
		}
	}

	// Add a hover effect to callout figures
	.callout-figure {
		@include dot-matrix;

		&__contents {
			transition: transform $transition-long ease;

			&:hover {
				transform: translate(0.5rem, -0.5rem);
			}
		}
	}
}

// ============================================================================
// Experimental Variations
// ============================================================================

// Align footer contents with main content
@supports (grid-template-columns: subgrid) {
	@media screen and (min-width: $breakpoint-sm) {
		.page-footer {
			display: grid;
			grid-template-columns: subgrid;

			&__contents {
				grid-column: content;
			}
		}
	}
}

// Turn the page title sideways and position it left of the main content
@supports (writing-mode: sideways-lr) {
	.page-content {
		grid-template-rows:
			[nav-start title-start] 20vh
			[nav-end content-start decoration-start] minmax(60vh, max-content)
			[title-end] 1fr
			[content-end footer-start] auto
			[footer-end decoration-end];
		grid-template-columns:
			[nav-start footer-start] 1fr
			[title-start] auto
			[title-end content-start] minmax(
				min-content,
				$main-content-max-width
			)
			[content-end decoration-start] 2%
			[nav-end] 1fr
			[decoration-end footer-end];
	}

	@media screen and (min-width: $breakpoint-sm) {
		.page-header h1 {
			writing-mode: sideways-lr;

			&::after {
				inline-size: 100%;
			}
		}
	}
}
