@import './colors';
@import './reset';

// Spacing
$inline-element-padding: 0.1em;

/* ========================================
 * CSS Variables
 * ======================================== */
:root {
	/* Theme Colors */
	--background: #{$white};
	--on-background: #{$gray--dark};
	--accent-primary: #{$theme--pink};
	--accent-secondary: #{$theme--yellow};

	/* Semantic */
	--highlight-background: #{$yellow};
	--label: #{$gray--light};

	/* Code */
	--on-code-background: #{$red};
	--sample-background: #{$black};
	--on-sample-background: #{$green};

	/* Font Scale (Harmonic) */
	--font-scale: 1.15;
	--size-down-2: calc(var(--size-down-1) / var(--font-scale));
	--size-down-1: calc(var(--size-base) / var(--font-scale));
	--size-base: 1rem;
	--size-up-1: calc(var(--size-base) * var(--font-scale));
	--size-up-2: calc(var(--size-up-1) * var(--font-scale));
	--size-up-3: calc(var(--size-up-2) * var(--font-scale));
	--size-up-4: calc(var(--size-up-3) * var(--font-scale));
	--size-up-5: calc(var(--size-up-4) * var(--font-scale));
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #{$gray--dark};
		--on-background: #{$white};
		--accent-primary: #{$theme--yellow};
		--accent-secondary: #{$theme--pink};
	}
}

/* ========================================
 * Utilities
 * ======================================== */
.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	border: 0;
	top: 0;
	left: 0;
	clip: rect(0 0 0 0);
}

.label {
	font-size: var(--size-down-1);
	font-weight: 300;
	color: var(--label);
}

.float-right {
	float: right;
	shape-outside: border-box;
	padding-left: 1em;
	padding-bottom: 1em;
}

/* ========================================
 * Defaults
 * ======================================== */
html {
	font-family: 'Bitter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	font-size: 16px;
	color: var(--on-background);
	background-color: var(--background);

	@media (min-width: 420px) and (max-width: 768px) {
		font-size: 20px;
	}
	@media (min-width: 768px) {
		font-size: 24px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	line-height: 1.25;
	font-weight: 600;
}

h1 {
	font-size: var(--size-up-5);
}

h2 {
	font-size: var(--size-up-4);
}

h3 {
	font-size: var(--size-up-3);
}

h4 {
	font-size: var(--size-up-2);
}

h5 {
	font-size: var(--size-up-1);
}

h6 {
	font-size: var(--size-base);
}

li::marker {
	color: var(--accent-primary);
}

/* Page Navigation */
nav,
nav ul {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

nav {
	justify-content: space-between;
}

nav li {
	list-style-type: none;
	margin-right: 1em;

	&:last-child {
		margin-right: 0;
	}
}

/* Links */
a {
	/* Underline replacement with hover & focus effect */
	$background-size-y--1: 0.05em;
	$background-size-y--2: 30%;

	color: var(--accent-primary);
	text-shadow: 0 1px 0 var(--background);
	text-decoration: none;
	background-clip: border-box;
	background-repeat: no-repeat;

	/* stylelint-disable */
	background-image: linear-gradient(
			to right,
			var(--accent-primary),
			var(--accent-primary)
		),
		linear-gradient(
			to right,
			var(--accent-secondary),
			var(--accent-secondary)
		);
	/* stylelint-enable */

	background-position: 100% 100%, -100% 100%;
	background-size: 100% $background-size-y--1, 0% $background-size-y--2;
	transition-property: background-position, background-size;
	transition-duration: 350ms;
	transition-timing-function: ease-out;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&:hover,
	&:focus {
		background-position: 200% 100%, 0% 100%;
		background-size: 0% $background-size-y--1, 100% $background-size-y--2;
	}
}

.button-link {
	padding: 0.5em;
	background: none;
	color: $black;
	background-color: var(--accent-primary);
	border: 2px solid var(--accent-secondary);
	border-radius: 0.25em;
	font-size: 1rem;
}

.skip-to-content:focus {
	transition: none;
	box-sizing: content-box;
	height: unset;
	width: unset;
	clip: unset;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.5em 1em;
}

.homepage-link {
	flex: 1 0 max-content;
	padding-right: 1rem; // Space between this link and the <nav> links
	font-size: var(--size-up-3);
}

/* Semantic Markers */
abbr {
	text-decoration: underline dotted;
}

hr {
	background-color: var(--on-background);
}

mark {
	background-color: var(--highlight-background);
}

/* Block Quotes */
blockquote {
	font-size: var(--size-up-3);
	border-left: 0.25em solid var(--accent-primary);
	padding-left: 1em;

	cite {
		display: block;
		margin: 0;
		text-align: right;
	}

	cite::before {
		content: '– ';
	}
}

/* Images and Figures */
figcaption {
	padding: 0.5em 0;
	border-top: 1px solid var(--background);
	font-size: var(--size-down-1);
	text-align: center;
	color: var(--background);
	background-color: var(--on-background);
}

/* Tables */
table {
	margin: auto;
	width: 100%;
	border-collapse: collapse;
	font-size: var(--size-down-1);
}

caption {
	font-size: var(--size-down-2);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

tfoot {
	border-top: 1px solid;
}

tfoot,
th {
	font-weight: 600;
}

th,
td {
	padding: 0 5px;
	text-align: left;
}

.numeric {
	text-align: right;
}

/* Code Formatting */
pre,
code,
samp,
kbd {
	font-family: 'Fira Code', 'Liberation Mono', 'SFMono-Regular', 'Consolas',
		'Monaco', 'Andale Mono', 'Ubuntu Mono', Menlo, Courier, monospace;
	font-size: var(--size-down-1);
}

pre,
:not(pre) > code,
samp,
kbd,
mark {
	padding: 0 $inline-element-padding;
	border-radius: 3px;
}

samp {
	color: var(--on-sample-background);
	background-color: var(--sample-background);
}

kbd {
	margin: 0 2px;
	border: 1px solid var(--on-background);
	box-shadow: 1px 1px 1px $gray--dark; // Avoid white shadows in dark theme
}

pre {
	$code-block-padding: 1em;

	max-width: 100%;
	padding: $code-block-padding;
}

/* Shared Page Layout */
$max-page-width: 1200px;
$page-padding: 3rem;
$grid-gap: 1rem;

body {
	line-height: 1.75;
	display: grid;
	grid-template-rows: max-content auto max-content;
	grid-gap: $grid-gap;
	padding-left: $page-padding;
	padding-right: $page-padding;

	> * {
		width: 100%;
		max-width: $max-page-width;
		margin-left: auto;
		margin-right: auto;
	}

	> header,
	> footer {
		padding-top: $grid-gap;
		padding-bottom: $page-padding;
	}

	> footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
		color: var(--on-background);
		background-color: var(--background);
	}

	> footer :first-child {
		flex-shrink: 0;
		margin-right: 1em;
	}
}

.spacing-container > * + * {
	margin-top: 1em;
}
