/* ========================================
 * Utilities
 * ======================================== */

.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	border: 0;
	top: 0;
	left: 0;
	clip: rect(0 0 0 0);
}

.spacer > * + * {
	margin-top: 1em;
}

@mixin dot-matrix(
	$dot-size: 2px,
	$dot-space: 6px,
	$dot-color: $theme--focus,
	$bg-color: $theme--light
) {
	$negative-space: $dot-space - $dot-size;

	background: linear-gradient(
				90deg,
				$bg-color $negative-space,
				transparent 1%
			)
			center,
		linear-gradient($bg-color $negative-space, transparent 1%) center,
		rgba($dot-color, 0.15);
	background-size: $dot-space $dot-space;
	background-position: 4px 4px;
}
