/*
	main.scss
	General page styling
	Written by Eli Howey
	Copyright 2019
*/

@import "./shared";

main > * + * {
	margin-top: 1rem;
}

li {
	list-style: none;
}

.blog-post {
	$post-title-font-size: 1.5rem;
	$post-spacing: 1em;

	position: relative;
	max-width: 65ch;
	padding: $post-spacing;
	margin-left: -1 * $post-spacing;
	transition: background-color 150ms ease;

	& h3 {
		font-size: $post-title-font-size;
	}

	& p {
		margin: 0.5em 0;
	}

	&::before,
	&::after {
		display: block;
		position: absolute;
		z-index: 0;
		content: "";
		background-color: var(--on-background);
		transition: background-color 150ms ease;
	}
}

@media (max-width: 1100px) {
	// Hide the timeline pseudo-elements
	.blog-post::before,
	.blog-post::after {
		display: none;
	}
}
