@import './shared';

body {
	display: grid;
	grid-template-rows: max-content auto max-content;
}

main > * + * {
	margin-top: 1em;
}

address {
	display: grid;
	grid-gap: 1em;
	align-items: baseline;
	font-style: normal; // By default, address tags are italicized

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
}
