<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Article">
	<head>
		{% include shared_head_content.html %}

		<!-- Page Stylesheets -->
		{% if layout.stylesheet_path %}
		<link rel="stylesheet" href="{{ layout.stylesheet_path }}" />
		{% endif %} {% if page.stylesheet_path %}
		<link rel="stylesheet" href="{{ page.stylesheet_path }}" />
		{% endif %}

		<!-- Module Stylesheets -->
		{% if page.include_modules.code %}
		<link rel="stylesheet" href="/dist/styles/code.min.css" />
		{% endif %} {% if page.include_modules.blog_post_summary %}
		<link rel="stylesheet" href="/dist/styles/blog-post-summary.min.css" />
		{% endif %}

		<!-- Scripts -->
		{% if layout.script_path %}
		<script type="module" src="{{ layout.script_path }}"></script>
		{% endif %} {% if page.script_path %}
		<script type="module" src="{{ page.script_path }}"></script>
		{% endif %}
	</head>
	<body>
		<a
			id="skip-to-content-link"
			href="#content"
			class="skip-to-content visually-hidden"
			>Skip to content</a
		>
		{% include nav_header.html %}

		<main id="content" class="spacing-container">
			{{ content }}
		</main>

		{% if layout.show_back_to_top %} {% include footer.html
		show_back_to_top="true" %} {% else %} {% include footer.html %} {% endif
		%}
	</body>
</html>
