<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }} - Eli Howey</title>
		<meta name="description" content="{{ page.description }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta charset="UTF-8" />

		<!-- Prism (for code formatting) -->
		<link rel="stylesheet" href="/dist/styles/prism-dracula.min.css" />
		<script type="module" src="/dist/scripts/prism.js"></script>

		<link
			href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap"
			rel="stylesheet"
		/>

		{% if layout.stylesheet_path %}
		<link rel="stylesheet" href="{{ layout.stylesheet_path }}" />
		{% endif %} {% if page.stylesheet_path %}
		<link rel="stylesheet" href="{{ page.stylesheet_path }}" />
		{% endif %} {% if layout.script_path %}
		<script type="module" src="{{ layout.script_path }}"></script>
		{% endif %} {% if page.script_path %}
		<script type="module" src="{{ page.script_path }}"></script>
		{% endif %}
	</head>
	<body>
		<a
			id="skip-to-content-link"
			href="#content"
			class="skip-to-content visually-hidden"
			>Skip to content</a
		>
		{% include nav_header.html %}

		<main id="content">
			{{ content }}
		</main>

		{% include footer.html %}
	</body>
</html>
