---
layout: default
stylesheet_path: '/dist/styles/blog-post.min.css'
script_path: '/dist/scripts/blog-post.js'
---

<progress is="blog-post-progress-bar" id="article-progress-bar"></progress>
<article id="blog-post">
	<header id="blog-post-header">
		<h2>{{ page.title }}</h2>
		<time
			is="blog-post-timestamp"
			datetime="{{ page.date | date_to_xmlschema }}"
			class="label"
			>{{ page.date | date: '%B %-d, %Y' }}</time
		>
		<blog-post-length class="label"></blog-post-length>
	</header>

	{{ content }}
</article>
