---
layout: default
stylesheet_path: '/dist/styles/blog-post.min.css'
script_path: '/dist/scripts/blog-post.js'
show_back_to_top: true
---

<progress is="blog-post-progress-bar" id="article-progress-bar"></progress>
<article id="blog-post">
	<header id="blog-post-header">
		<h2>{{ page.title }}</h2>
		<time
			is="blog-post-timestamp"
			datetime="{{ page.date | date_to_xmlschema }}"
			class="label"
			>{{ page.date | date: '%B %-d, %Y' }}</time
		>
		<blog-post-length class="label"></blog-post-length>
	</header>

	{{ content }}

	<footer class="tags">
		<span class="label">Tags:</span>
		{% if page.tags.size > 0 %}
		<ul class="tag-list">
			{% for tag in page.tags %}
			<li class="tag">{{ tag }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<span class="label">None</span>
		{% endif %}
	</footer>
</article>
