---
layout: default
stylesheet_path: '/dist/styles/main.min.css'
script_path: '/dist/scripts/blog-post.js'
show_back_to_top: true
---

<article id="blog-post" class="spacer">
	<header class="post-header spacer">
		<h2 class="post-header__title">{{ page.title }}</h2>
		<div class="post-header__metadata label">
			<span class="post-header__timestamp">
				Posted
				<time
					is="blog-post-timestamp"
					datetime="{{ page.date | date_to_xmlschema }}"
					>{{ page.date | date: '%B %-d, %Y' }}</time
				>
			</span>
			<blog-post-length></blog-post-length>
		</div>
	</header>

	{{ content }}

	<footer class="tags">
		<span class="visually-hidden">Tags:</span>
		{% if page.tags.size > 0 %}
		<ul class="tag-list">
			{% for tag in page.tags %}
			<li class="tag">{{ tag }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<span class="label">None</span>
		{% endif %}
	</footer>
</article>
