@charset "UTF-8";
/*
	blog-post.scss
	Blog post styling
	Written by Eli Howey
	Copyright 2019
*/
/* Font imports */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,500,600|Lato:300,700");
/* CSS Variables */
:root {
  --yellow: hsl(50, 96%, 45%);
  --darkgray: hsl(210, 25%, 12%);
  --background: var(--darkgray);
  --background-light: hsl(210, 40%, 20%);
  --on-background: white;
  --accent-primary: var(--yellow);
  --on-accent-primary: black;
  --accent-secondary: hsl(232, 90%, 54%);
  --label: hsl(0, 0%, 70%);
}

footer {
  --background: var(--yellow);
  --on-background: black;
  --accent-primary: var(--darkgray);
  --on-accent-primary: black;
  --label: hsl(0, 0%, 30%);
}

/* Resets */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General CSS */
[hidden] {
  display: none;
}

html {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  line-height: 1.5;
  color: var(--on-background);
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2 {
  margin: 1em 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}

h3, h4, h5, h6 {
  font-weight: 500;
}

ul {
  list-style-type: none;
}

nav ul {
  font-size: 1.2rem;
  font-weight: 300;
}

a {
  color: var(--accent-primary);
  background-color: transparent;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 0 0 var(--accent-secondary);
          box-shadow: 0 4px 0 0 var(--accent-secondary);
  -webkit-transition: -webkit-box-shadow 100ms linear;
  transition: -webkit-box-shadow 100ms linear;
  transition: box-shadow 100ms linear;
  transition: box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
}

a:hover, a:focus {
  -webkit-box-shadow: 0 4px var(--accent-secondary), inset 0 -0.5em var(--accent-secondary);
          box-shadow: 0 4px var(--accent-secondary), inset 0 -0.5em var(--accent-secondary);
}

.label {
  font-size: 0.83em;
  font-weight: 300;
  letter-spacing: 0.25px;
  color: var(--label);
}

/* Shared Page Layout */
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  -ms-grid-columns: minmax(min-content, 1fr) 3fr;
      grid-template-columns: minmax(-webkit-min-content, 1fr) 3fr;
      grid-template-columns: minmax(min-content, 1fr) 3fr;
      grid-template-areas: "header main" "footer footer";
  grid-gap: 3rem;
}

header,
main {
  min-height: 100vh;
  padding-top: 2rem;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: right;
}

header > div {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
  padding-left: 3rem;
  padding-right: 3rem;
}

footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem 3rem 3rem;
  font-size: 0.9rem;
  color: var(--on-background);
  background-color: var(--background);
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  grid-gap: 1em;
}

address {
  font-style: normal;
}

.contact-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 1.25em 2em;
}

.footer__misc-info {
  text-align: right;
}

/* Shared Media Queries */
@media (max-width: 1100px) {
  body {
    -ms-grid-rows: max-content 1fr max-content;
        grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
        grid-template-rows: max-content 1fr max-content;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "main" "footer";
    grid-gap: 1rem;
  }
  header,
  main {
    padding: unset;
    padding-bottom: 0;
  }
  header {
    min-height: unset;
    width: calc(100% - 2 * 3rem);
  }
  header > div {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    margin: 0.5em 0;
  }
  nav ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  nav ul li:not(:last-child) {
    padding-right: 0.5em;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 18px;
  }
  .footer__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__misc-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 16px;
  }
  .contact-grid {
    grid-auto-flow: row;
  }
}

article {
  max-width: 65ch;
  margin-bottom: 2rem;
}

article > * + * {
  margin-top: 1em;
}

article::after {
  display: block;
  height: 1rem;
  width: 1rem;
  margin: 2rem auto;
  content: '';
  background-color: var(--accent-primary);
}

/* Headings */
article h2 {
  margin-bottom: 0;
}

h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.33rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

/* Semantic Tags (in alphabetical order) */
abbr {
  color: var(--accent-primary);
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

hr {
  height: 4px;
  border: none;
  background-color: var(--accent-secondary);
}

mark {
  padding: 0 2px;
  background-color: var(--accent-primary);
}

strong {
  font-weight: bold;
}

/* Lists */
article ul,
article ol {
  list-style: none;
}

article ul li::before,
article ol li::before {
  color: var(--accent-primary);
  display: inline-block;
  text-align: right;
  direction: rtl;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
}

article ul li::before {
  content: '\2022';
}

article ol {
  counter-reset: li;
}

article ol li {
  counter-increment: li;
}

article ol li::before {
  content: "." counter(li);
}

/* Quotes */
q::before,
q::after,
blockquote::before,
blockquote::after {
  font-weight: 700;
  color: var(--accent-primary);
}

blockquote {
  font-size: 1.75em;
  text-align: center;
}

blockquote::before {
  content: open-quote;
  margin-right: 0.1em;
}

blockquote::after {
  content: close-quote;
  margin-left: 0.1em;
}

blockquote + cite {
  display: block;
  margin: 0;
  text-align: right;
  color: var(--accent-primary);
}

blockquote + cite::before {
  content: '– ';
  color: var(--accent-secondary);
}

/* Images and Figures */
figure {
  border: 1px solid var(--accent-primary);
  -webkit-box-shadow: 4px 4px var(--accent-secondary);
          box-shadow: 4px 4px var(--accent-secondary);
}

figure,
img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  padding: 0.5em 0;
  border-top: 1px solid var(--background);
  font-size: 0.8em;
  text-align: center;
  color: var(--on-accent-primary);
  background-color: var(--accent-primary);
}

.float-right {
  float: right;
  shape-outside: border-box;
  padding-left: 1em;
  padding-bottom: 1em;
}

/* Tables */
table {
  border: 1px solid var(--accent-primary);
  -webkit-box-shadow: 4px 4px var(--accent-secondary);
          box-shadow: 4px 4px var(--accent-secondary);
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

thead {
  color: var(--on-accent-primary);
  background-color: var(--accent-primary);
}

tfoot {
  border-top: 1px solid var(--accent-primary);
  font-weight: bold;
}

th, td {
  padding: 0 5px;
  text-align: left;
}

.numeric {
  text-align: right;
}

/* Code Formatting */
code, samp, kbd {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  padding: 0 4px;
  border-radius: 4px;
}

code {
  color: var(--on-background);
  background-color: var(--background-light);
}

samp {
  color: #77fb4c;
  background-color: black;
}

kbd {
  margin: 0 2px;
  border: 1px solid var(--accent-primary);
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

pre {
  border: 1px solid var(--accent-primary);
  -webkit-box-shadow: 4px 4px var(--accent-secondary);
          box-shadow: 4px 4px var(--accent-secondary);
  font-size: 0.9em;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  white-space: pre-wrap;
  overflow-x: auto;
}

pre, pre[data-lang]::before {
  margin-left: -1em;
  margin-right: -1em;
  padding: 0 1em;
}

pre[data-lang]::before {
  content: attr(data-lang);
  display: block;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  color: var(--on-accent-primary);
  background-color: var(--accent-primary);
}

pre code {
  background-color: inherit;
}

/* Progress Bar */
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  background-color: transparent;
  color: var(--accent-primary);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: var(--accent-secondary);
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--accent-primary)));
  background-image: linear-gradient(to right, transparent, var(--accent-primary));
}

progress::-moz-progress-bar {
  background-color: var(--accent-secondary);
  background-image: linear-gradient(to right, transparent, var(--accent-primary));
}

#article-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 100vw;
}

#blog-post-length-estimate::before {
  content: '•';
  padding: 0 1ch;
  color: var(--accent-primary);
}

.color-swatch-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.color-swatch {
  min-height: 3em;
  padding: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.color-swatch[data-color]::after {
  content: attr(data-color);
  font-weight: bold;
  text-transform: uppercase;
}
/*# sourceMappingURL=blog-post.css.map */