/*
	blog-post.scss
	Blog post styling
	Written by Eli Howey
	Copyright 2019
*/

@import './shared';

@mixin callout {
	border: 1px solid var(--accent-primary);
	box-shadow: 4px 4px var(--accent-secondary);
}

article {
	max-width: 65ch; // For readability
	margin-bottom: 2rem;

	& > * + * {
		// Default spacing for all adjacent elements in an article
		margin-top: 1em;
	}
}

/* Headings */
// Remove blog post heading's bottom margin,
// so the timestamp will align with it
article h2 {
	margin-bottom: 0;
}

h3, h4, h5, h6 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.33rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

/* Semantic Tags (in alphabetical order) */
abbr {
	color: var(--accent-primary);
	text-decoration: underline dotted;
}

hr {
	height: 4px;
	border: none;
	background-color: var(--accent-secondary);
}

mark {
	padding: 0 2px;
	background-color: var(--accent-primary);
}

strong {
	font-weight: bold;
}

/* Lists */
article ul,
article ol {
	list-style: none;

	& li::before {
		color: var(--accent-primary);
		display: inline-block;
		text-align: right;
		direction: rtl;
		width: 1em;
		margin-left: -1.5em;
		margin-right: 0.5em;
	}
}

article ul li::before {
	content: '\2022';	// Unicode for bullet
}

article ol {
	counter-reset: li;

	& li {
		counter-increment: li;
	}

	& li::before {
		content: '.'counter(li);
	}
}

/* Quotes */
q::before,
q::after,
blockquote::before,
blockquote::after {
	font-weight: 700;
	color: var(--accent-primary);
}

blockquote {
	font-size: 1.75em;
	text-align: center;

	&::before {
		content: open-quote;
		margin-right: 0.1em;
	}

	&::after {
		content: close-quote;
		margin-left: 0.1em;
	}

	& + cite {
		display: block;
		margin: 0;
		text-align: right;
		color: var(--accent-primary);

		&::before {
			content: '– ';
			color: var(--accent-secondary);
		}
	}
}

/* Images and Figures */
figure {
	// border: 1px solid var(--accent-primary);
	// box-shadow: 4px 4px var(--accent-secondary);
	@include callout();
}

figure,
img {
	display: block;
	max-width: 100%;
}

figcaption {
	padding: 0.5em 0;
	font-size: 0.8em;
	text-align: center;
	color: var(--on-accent-primary);
	background-color: var(--accent-primary);
}

/* Tables */
table {
	@include callout();
	margin: auto;
	width: 100%;
	border-collapse: collapse;
}

caption {
	font-size: 0.75em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

thead {
	color: var(--on-accent-primary);
	background-color: var(--accent-primary);
}

tfoot {
	border-top: 1px solid var(--accent-primary);
	font-weight: bold;
}

th, td {
	padding: 0 5px;
	text-align: left;
}

.numeric {
	text-align: right;
}

/* Code Formatting */
code, samp, kbd {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	padding: 0 4px;
	border-radius: 4px;
}

code {
	background-color: var(--background-light);
}

samp {
	color: rgb(119,251,76);
	background-color: black;
}

kbd {
	margin: 0 2px;
	border: 1px solid var(--accent-primary);
	box-shadow: 2px 2px 2px black;
}

pre {
	$code-block-padding: 1em;
	$code-block-margin: -1 * $code-block-padding;

	@include callout();
	font-size: 0.9em;
	tab-size: 2;
	white-space: pre-wrap;
	overflow-x: auto;

	// Spacing
	&,
	&[data-lang]::before {
		margin-left: $code-block-margin;
		margin-right: $code-block-margin;
		padding: 0 $code-block-padding;
	}

	// Language identifier
	&[data-lang]::before {
		content: attr(data-lang);
		display: block;
		font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-weight: 600;
		color: var(--on-accent-primary);
		background-color: var(--accent-primary);
	}

	& code {
		background-color: inherit;
	}
}

/* Progress Bar */
@mixin progress-bar-colors {
	background-color: var(--accent-secondary);
	background-image: linear-gradient(to right, transparent, var(--accent-primary));
}

progress {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	color: var(--accent-primary);

	&::-webkit-progress-bar {
		background-color: transparent;
	}

	&::-webkit-progress-value {
		@include progress-bar-colors();
	}

	&::-moz-progress-bar {
		@include progress-bar-colors();
	}
}

#article-progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 5px;
	width: 100vw;
}

#blog-post-length-estimate::before {
	content: '•';
	padding: 0 1ch;
	color: var(--accent-primary);
}