@import './shared';

body {
	grid-template-columns: 1fr;
	grid-template-areas: "main" "footer";
	grid-gap: 0;
}

main {
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& li:not(:last-child) {
		padding-right: 1em;
	}
}