@import "./shared";

body {
	grid-template-columns: 1fr;
	grid-gap: 0;
}

main {
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	> * {
		font-size: 3rem;
	}
}
