/*
	main.scss
	General page styling
	Written by Eli Howey
	Copyright 2019
*/

@import './shared';

.blog-post {
	$post-title-font-size: 1.5rem;
	$post-spacing: 1em;

	position: relative;
	max-width: 65ch;
	padding: $post-spacing;
	margin-left: -1 * $post-spacing;
	transition: background-color 150ms ease;

	& h3 {
		font-size: $post-title-font-size;
	}

	& p {
		margin: 0.5em 0;
	}

	&::before,
	&::after {
		display: block;
		position: absolute;
		z-index: 0;
		content: '';
		background-color: var(--text-main);
		transition: background-color 150ms ease;
	}

	// Bar before each blog post
	&::before {
		top: 0;
		bottom: 0;
		left: -10px;
		width: 4px;
	}

	&:hover::before {
		background-color: var(--link-color);
	}

	// Point next to each post's title
	&::after {
		box-sizing: content-box;
		top: calc(#{$post-title-font-size} + 0.25em);
		left: calc(-1 * #{$post-title-font-size} / 4 - 10px);
		height: $post-title-font-size / 2;
		width: $post-title-font-size / 2;
		border: 2px solid var(--text-main);
		border-radius: 50%;
		background-color: var(--background-main);
	}

	&:hover::after {
		background-color: var(--link-underline);
	}
}

@media (max-width: 1100px) {
	// Hide the timeline pseudo-elements
	.blog-post::before,
	.blog-post::after {
		display: none;
	}
}